In [1]:
import mysql.connector as sql

In [6]:
try:
    conn = sql.connect(
        host="localhost",
        username="root",
        password = "password_salah",
    )
except sql.Error as er:
    print("there was an error with connection")
    print("Error Code: ", er.errno)
    print("Error Message: ", er.msg)

there was an error with connection
Error Code:  1045
Error Message:  Access denied for user 'root'@'localhost' (using password: YES)

In [12]:
try:
    conn = sql.connect(
        host="localhost",
        username="root",
        password = "luthfiku12345",
    )
except :
    print("there was an error with connection")

In [19]:
cursor = conn.cursor()
cursor.execute("CREATE DATABASE pertemuan14")
cursor.execute("USE pertemuan14")
create_table = """
Create table menuitem(
itemID INT AUTO_INCREMENT,
name varchar(200),
type varchar(100),
price int,
Primary key(itemID)
)
"""
cursor.execute(create_table)

In [20]:
cursor.execute("show tables")
for tables in cursor:
    print(tables)

('menuitem',)